body {
  font-family: 'Roboto', sans-serif;
  /*padding: 5px;*/
}

#inboxText {
  opacity: 0.6;
}

#inboxBadgeArea:hover #inboxText {
  opacity: 1;
}

#inboxBadgeArea {
  text-align: center;
  position: absolute;
  top: 20px;
  right: 0px;
  margin-right: 5%;
  cursor: pointer;
  transition: 0.3s;
}

#inboxBadge {
  display: inline-block;
  border-radius: 50%;
  background-color: #FF6666;
  padding: 4px;
  color: white;  
}

#inboxBadgeArea:hover #inboxBadge {
  background-color: #FF3333;
}

#inboxBadgeArea:active #inboxBadge {
  background-color: #993333;
  transition: 0s;
}

#inboxMessage {
  color: grey;
  font-size: 12;
  text-align: center;
  position: absolute;
  top: 40px;
  right: 0px;
  margin-right: 5%;
}

h1 {
  text-align: center;
  margin-top: 30px;
}

.eachTask {
  cursor: pointer;
  display: inline-block;
  margin-left: 50px;
  margin-right: 50px;
}

.tasks, .inbox h2 {
  text-align: center;
  color: #66CCFF;
  font-size: 30px;
}

.inbox {
  margin: auto;
  text-align: center;
  overflow: scroll;
  max-height: 200px;
  max-width: 400px;
  background-color: #ECECEC;
  border-radius: 4px;
  padding-bottom: 25px;
  margin-bottom: 20px;
}

.inboxTasks {
  display: inline-block;
  margin-left: 70px;
  margin-right: 70px;
  transition: 0.4s;
}

.inboxTasks:hover {
  cursor: pointer;
  font-size: 26px;
}

#selectedTask {
  color: #66CCFF;
  font-size: 22px;
}

#taskInput {
  border: none;
  height: 85%;
  margin: 1px;
  outline: none;
  margin-left: 10px;
  width: 70%;
  font-size: 16px;
}

.addTask {
  position: absolute;
  border: solid 1px grey;
  max-width: 200px;
  height: 35px;
  width: 300px;
  border-radius: 3px;
  margin: 10px 0px 0px 20px;
}

#addButton {
  border: none;
  outline: none;
  color: grey;
  font-size: 14px;
  transition: 0.5s;
  cursor: pointer;
}

#addButton:hover {
  color: black;
}

.feedback {
  margin-top: 5px;
  color: grey;
}

.taskList {
  margin: auto;
  margin-top: 20px;
  max-width: 400px;
  color: #66CCFF;
  font-size: 20px;
  line-height: 30px;
}

#checkboxes {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  margin: 0;
  padding: 0;
  border: solid 1px #C1C1C1;
  border-radius: 4px;
  margin-left: 3px;
}

#checkboxes:hover {
  background: #B2B2B2;
}

#checkboxes:checked {
  background: url(../imgs/grey-checkmark.jpg);
  background-size: contain;
}

#checkboxes:checked:hover {
  background: #C1C1C1;
  opacity: 0.4;
}

.filter, .tagSelector {
  margin: auto;
  max-width: 200px;
  padding: 10px;
  padding-top: 2px;
  text-align: center;
}

select {
  height: 25px;
  width: 120px;
  font-size: 13px;
  outline: none;
  border: none;
  background: none;
  opacity: 0.5;
  transition: 0.2s;
  cursor: pointer;
}

select:hover {
  opacity: 1;
}

#clear {
  font-size: 11px;
  color: gray;
  opacity: 0.7;
  cursor: pointer;
}

#clear:hover {
  opacity: 1;
}

.selectedTags .tagPills:hover {
  opacity: 0.6;
  cursor: pointer;
}

#statusDiv {
  width: 150px;
  font-size: 13px;
  margin: auto;
}

#statusSelect {
  border: none;
  background: none;
  display: inline;
  width: 100px;
  opacity: 0.5;
  transition: 0.2s;
  cursor: pointer;
}

#statusSelect:hover {
  opacity: 1;
}

.selectedTags {
  margin: 5px;
}

.tagPills {
  display: inline-block;
  font-size: 12px;
  line-height: 15px !important;
  margin: 4px;
  background-color: #66CCFF;
  padding: 4px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 8px;
  color: white;
}

#submitAddTags {
  font-size: 15px;
  color: gray;
  opacity: 0.9;
  cursor: pointer;
}

#submitAddTags:hover {
  opacity: 1;
  color: black;
  text-shadow: #66CCFF 0px 0px 1px;
}

#submitAddTags:active {
  text-shadow: #0099CC 0px 0px 1px;
}